body {
    background: url('../media/bg01.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.vcenter {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.space-out {
    margin-top: 10vh;
}

.special-card {    
      /*background-color: rgba(245, 245, 245, 1);*/
      opacity: .6;
}

.special-card a:link{
    opacity: 1;
}